@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* :where(:not(iframe, canvas, img, svg, video):not(svg *)) {
        all: unset;
        display: revert;
    } */

    ::before,
    ::after {
        box-sizing: border-box;
    }
}

:root {
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}


body {
    /*start flex box*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*end flex box*/

    min-height: 100vh;
    background-color: var(--Light-gray);
    color: var(--var-name);
}

.card {
    width: 320px;
    height: 473px;
    border-radius: 20px;
    padding: 16px;
    font-family: outfit;
    background-color: white;
}

.card .image img{
    width: 288px;
    height: 288px;
    border-radius: 10px;
}

.content {
    padding: 0 16px;
    margin-top: 24px;
}

.card h1 {
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    color: var(--Dark-blue);
    margin-bottom: 1rem;
}

.card .content p {
    color: var(--Grayish-blue);
    text-align: center;
}